/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
*, body {
  margin: 0;
}

#wrapper {
  margin: 0 auto;
  max-width: 960px;
  background-image: url("../images/bg_wrapper.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.topnav{
  background-color: black;
}

.topnav ul {
  background-color: black;
  margin: 0;
  padding: 40px;
}

.topnav li {
  margin: 15px;
  padding: 20px;
  display: inline;
}

/* Social media buttons */

#social-media {
	/* float: right; */
	/* display: inline-block; */
}

#social-media ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 text-indent:-9999em;
}

#social-media ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#social-media ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

#social-media ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

#social-media ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}



#social-media ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

#social-media ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

#social-media ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

#social-media ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}

a {
  color: white;
  text-decoration: none;
}

section, .photobanner, .imageshadow {
  width: 960px;
  margin: 0 auto;
}

section {
  position: relative;
}

#main-content, #social-media {
  display: inline-block;
  vertical-align: top;
}

#main-content {
  margin: 25px 0 15px;
}

#social-media {
  /* height: 50px; */
  position: absolute;
  right: 0;
  /* margin-top: 33px; */
}

.imageshadow {
  margin: -4px auto;
}

/* Main */

#blurb {
  border: 3px inset #d7d5d5f2;
}

#blurb p {
  width: 78%;
  display: inline-block;
}


.home-box {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.home-box p {
  width: 274px;
  height: 144px;
}

.home-box img {
  border: 6px solid #d3d1d1f7;
}

/* Footer  */

.bottomnav {
  padding: 0;
}

footer {
  /* column-count: 3;
  column-gap: 4em; */
  background-color: black;
  color: white;
}

.box-footer {
  box-sizing: border-box;
  padding: 1em 2em;
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.box-footer p {
  width: 270px;
}
