<h2>Type Your favourite book title!
</h2>

<form action="/result">
    <label>
    <input type="text" placeholder="my book title" name="book_title" required>
    </label>

    <button> Get Details</button>
</form>