<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Books</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="css/books.css">

</head>

<body>
<div class="container">
<h1>Your Favourite Books</h1>

<!-- the yield keyword will be replaced by custom content -->
<%= yield%>
</div>
<footer>
&copy; COPYRIGHT 2001
</footer>
  <script src="js/scripts.js"></script>
</body>
</html>