@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: skyblue;
  background-size: cover;
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

li {
  margin-left: -30px;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.delete {
  background-color: rgba(214, 60, 60, 0.6);
  color: white;
}

.feature {
  width: 100%;
  border-radius: 10px;
}

nav {
  text-align: right;
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  display: inline-block;
  margin-left: 0px;
}

nav li a {
  display: inline-block;
  padding: 8px;
  transition: background-color 0.3s;
}

nav li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  text-align: center;
}
