/* The Pestacide plugin on google chrome does the same as the border green  */

/* * {border: 1px solid green;} */

* {
  box-sizing: border-box;
}

/* import whatever font you like at the top */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000000;
  font-family: 'Roboto', sans-serif;

}

.container {

  width: 687px;
  height: 917px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #D62503;

}

.inner-container {

  width: 617px;
  height: 846px;

  padding: 1em;

  background: url("../img/JVNHeadShot.jpg");
  background-size: cover;

  border: solid;
  border-color: white;

  display: flex;
  flex-direction: column;

  position: relative;

}

title {

  max-width: 450px;
  max-height: 250px;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 35px;
  font-family: cursive;

  color: white;

}

#time {

  max-width: 500px;
  max-height: 300px;

  margin: 0 auto;

  /* display: flex; */
  /* flex-direction: center; */
}

p {

  width: 575px;
  height: 100px;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 30px;
  font-family: cursive;

}

.navigation {

  width: 300px;
  height: 200px;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */

}

nav {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

nav a {
  color: white;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
}
