<h2>Register new Dog to finding new home</h2>

<form action="/dogs" method="post">
  <label>
    Name:
    <input name="name" placeholder="Dakoda" required>
  </label>

  <label>
    Breed:
    <input name="breed" placeholder="Border Collie x Kelpie Dog">
  </label>

  <label>
    intro:
    <input name="intro" placeholder="Playful and active">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Register!</button>
</form>
