<h1>Rock Paper Scissors</h1>

<form action="/rps/info">
  <label>
    pick an option
    <button type="submit" name="computer_choice" value="rock">Rock!</button>
    <button type="submit" name="computer_choice" value="paper">Paper!</button>
    <button type="submit" name="computer_choice" value="scissors">Scissors!</button>
  </label>
</form>
