<h2>Add New Painting</h2>

<form action= "/painting_save" method="post">
  <label>
    Painting Name:
    <input name="painting_name" placeholder="Mona Lisa" required>
  </label>
  <label>
    Artist Name:
    <input name="artist_name" placeholder="Leonardo da Vinci">
  </label>
  <label>
    Year:
    <input name="year" placeholder="1554">
  </label>
  <label>
    Location:
    <input name="location" placeholder="Paris">
  </label>
  <label>
    Dimension:
    <input name="dimension" placeholder="77cm * 53cm">
  </label>
  <label>
    Medium:
    <input name="medium" placeholder="oil">
  </label>
  <label>
    Image:
    <input type="url" name="image"placeholder="http://....">
  </label>
<button>Create New Painting</button>
</form>
