nav {
  text-align: center;
}

.container {
  text-align: center;
}

.feature {
  max-height: 30vh
}

ul {
  list-style: none;
}

form {
  // margin: 0 auto;
  // max-width: 300px;
  // display: flex;
  // flex-direction: column;
}
