<form action="/rock/rock_answer" method="get">
    <div class="container background_layer">
        <label>
            Your answer:
            <select name="answer">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
        </label>
        <button>Go!!!</button>
    </div>
</form>