
<h1>Welcome To The World of Inventors and Their Inventions</h1>
<div class="image">
  <img class="home_background" src="https://bedanktvoordevis.files.wordpress.com/2015/06/leonardo-da-vinci-vitruvian-man.jpg" alt="">
</div>
