
<form method="post" action="/inventions" class="form">

  <h3 id="logo">Add An invention</h3>

  <label for="username">Invention</label>
  <input type="text" id="username" name="name" placeholder="Analytical Engine" autocomplete="on" required />

  <label for="password">Inventor</label>
  <input type="text" id="password" name="inventor" placeholder="Charles Babage" autocomplete="on" required />

  <label for="password">Description</label>
  <input type="text" id="password" name="description" placeholder="first digital programmable computer that carried out computation through a mechanical framework as opposed to modern day electronic computers" autocomplete="on" required />

  <label for="password">Image</label>
  <input type="text" id="password" name="image" placeholder="http://..." autocomplete="on" required />

  <input type="submit" name="submit" value="Add invention" />

</form>
