
<form method="post" action="/inventors" class="form">

  <h3 id="logo">Add An Inventor</h3>

  <label for="username">Inventor</label>
  <input type="text" id="username" name="name" placeholder="Charles Babage" autocomplete="on" required />

  <label for="password">Invention</label>
  <input type="text" id="password" name="invention" placeholder="Analytical Engine" autocomplete="on" required />

  <label for="password">Image</label>
  <input type="text" id="password" name="image" placeholder="http://..." autocomplete="on" required />

  <input type="submit" name="submit" value="Add Inventor" />

</form>
