<h2>Rock Paper Scissors</h2>


<form action="/rock_paper_scissors/result">
  <label>
    Scissors, Paper or Rock?
    <select name="hand">
      <option></option>
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
  </label>
  <button>GO!</button>
</form>
