<p>You chose: <%= @p_hand %></p>

<p>Ai chose.. <%= @ai_hand %></p>

<h2>You Win!</h2>

<form action="/rock_paper_scissors/game">
  <label>
    <button>Play Again?</button>
  </label>
</form>

<img class="feature" src="/assets/clown.jpg" alt="clown">
