// Place all the styles related to the motorbikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb {
    max-height: 6em;
}
.feature {
    max-width: 500px;
    max-height: 500px;
}