@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap');
/* font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Mono', monospace;
*/

body {
  background-color: #fbf5df;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 0.3px;
}

.container {
  max-width: 960px; /* Lazy way to make a responsive container */
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav {
  text-align: right;
}

nav a {
  color: green;
}

h1, h2 {
  text-align: center;
  font-family:'Roboto Mono', monospace;
  line-height: 1.2;
  letter-spacing: 1px;
}

h1 {
    color: #7d1c1f;
    font-size: 26px;
}

h2 {
    color: #ec152f;
    font-size: 20px;
}

main {
  display: inline-block;
  width: 75%;
}

#resize1 {
    width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#resize2 {
    width: 200px;
    height: auto;
}

img.resize3 {
    width: auto;
    height: 150px;
    display: inline-block;
    margin: auto;
    margin-inline-start: 60px;
}

img.resize4 {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

aside {
  display: inline-block;
  width: 21%; /* 75% + 21% is 100% when you're in CSS */
  vertical-align: top;
  background-color: #f9e7b2;
  padding: 1em;
  border-radius: 0.2em;
  box-shadow: 0 0 5px #d8c8c8;
  margin-top: 2em;
}

aside ul {
  padding-left: 17px;
  font-family: 'Raleway', sans-serif;
}

a {
  color: black;
  text-shadow: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: hotpink;
  text-decoration: underline;
}
