/* *{ border: 1px red solid;} */
.game-board {
	width: 600px;
	height: 600px;
	margin: 0 auto;
  /* background-color: #fff; */
  color: rgb(41, 36, 73);
  /* border: 6px solid #2c3e50; 
  border-radius: 10px; */
	display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 1em;
}

.box {
  /* border: 6px solid #2c3e50;  */
  background-color: lightblue;
  border-radius: 5px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.show-result {
  height: 100px;
  width: 600px;
  padding: 20px;
  border: 10px whitesmoke solid;
  box-sizing: border-box;
  margin: 0 auto;
  top: 200px;
  text-align: center;
  padding: 20px;
  background-color: #eeeeee;
  font-family: Helvetica;
  color: crimson;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}

