<h1>I LOV BOOKS</h1>
<p>Search for your favourite book by entering it below!</p>
<form action="/books/result">
  <label>
    <input type="text" placeholder="Jaws" name="book_title">
  </label>
  <button>Search</button>

</form>
