<h2>New Project</h2>

<form action="/project/" method="post">
  <label>
    New Name:
    <input type="text" name="name" placeholder="Blah blah" required>
  </label>
  <label>
    Current Version:
    <input type="text" name="version" placeholder="Blah blah" required>
  </label>
  <label>
    Entry Date:
    <input type="text" name="entry_date" placeholder="Thursday, 31 January 2019">
  </label>
  <label>
    Link:
    <input type="text" name="link" placeholder="http://...">
  </label>
  <label>
    Image:
    <input type="text" name="image" placeholder="Blah blah blahh">
  </label>
  <label>
    Tags:
    <input type="text" name="tags" placeholder="JavaScript, Jquery, Ruby">
  </label>

  <button>Add Project</button>
</form>
