
body {

background-color: black;
color: white;
background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://media.giphy.com/media/vR8jGqAVr5kWY/giphy.gif)
    center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;

}

button {
height: 60px;
width: 60px;


}

.button1 {
  background-color: green;
}

.button2 {
  background-color: red;
}

.container {
margin: 0 auto;
text-align: center;

}
