<h1>Games on Rails</h1>

<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/magic8ball">Magic 8 Ball</a></li>
  <li><a href="/secretnumber"></a>Secret Number</li>
  <li><a href="/rock_paper_scissors"></a>Rock Paper Scissors</li>

</ul>
