body{
    background-image: url("../images/bg_wrapper.png");
    background-repeat: repeat-x;
    width: 90%;
}
header{
    padding: 20px;
    margin: 20px 0px 0px 100px;
}
nav{
    display: inline;
    color: lightgray;
    padding: 20px;
    margin: 10px auto;
    text-align: center
}
#main-content{
    margin:0px 0px 0px 140px;
    padding: 10px 0px;
}
.logoAndSocial{
    width: 960px;
    display: inline-block;
}
.logo{
    display: inline-block;
    width:59%;
    margin-top:25px;
}
#socialMedia{
    display: inline-block;
    margin-left: 135px;
    vertical-align: top;
}
#socialMedia ul{
    padding-left: 0px;
}
#socialMedia ul li {
    display:inline-block;
    width:60px;
    height:60px;
    background:blue;	
    text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
   background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
   background:url(../images/socialNav.png) -60px 64px; 
}

#socialMedia ul li.facebook {
   background:url(../images/socialNav.png) -120px 64px; 
}

#socialMedia ul li.rss {
   background:url(../images/socialNav.png) -180px 64px; 
}

#socialMedia ul li.linkedIn:hover {
   background:url(../images/socialNav.png) 0px 0px; 
}

#socialMedia ul li.twitter:hover {
   background:url(../images/socialNav.png) -60px 0px; 
}

#socialMedia ul li.facebook:hover {
   background:url(../images/socialNav.png) -120px 0px; 
}

#socialMedia ul li.rss:hover {
   background:url(../images/socialNav.png) -180px 0px; 
}
.photobanner{
    height: 370px;
    width:960px;
}
.imageshadow{
    padding: 0px;
}
#blurb{
    border: 1px lightgray inset;
    width: 960px;
    background-image: url("../images/bg_blurb.jpg");
    display: inline-block;
}
#blurb p {
    display: inline-block;
    width: 75%
}
#blurb img{
    width: 24%;
}

.home-box{
    display:inline-block;
    width: 320px;
    padding: 2px;
}
.home-box img{
    border: 5px lightgray solid;
}

