<h2>New Style</h2>

<form action="/" method="post">
  <label>
    Name:
    <input name="name" placeholder="Monarch" required>
  </label>

  <label>
    description:
    <textarea name="description" placeholder="Edit style description"></textarea>

  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create style</button>
</form>
