<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solar</title>
    <link rel= "stylesheet" href="/css/solar.css">
</head>
<body>
<div class="container">
    <nav>
    <a href="/">Home</a>
    |
    <a href="/planets">All Planets</a>
    <a href="/planets/new">New Planet</a>
    |
    <a href="/moons">All moons</a>
    <a href="/moons/new">New Moon</a>

    </nav>
    <%= yield%>
    </div>    
</body>
</html>