<h2>New moon</h2>

<form action="/moons" method="post">
    <label>
    Name:
    <input name="name" placeholder="Moon" required>
    </label>

    <label>
    Mass
    <input name="mass" placeholder="4.8675×1024 kg">
    </label>

    <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Create moon</button>
</form>