<h2>New planet</h2>

<form action="/planets" method="post">
    <label>
    Name:
    <input name="name" placeholder="Venus" required>
    </label>

    <label>
    Mass
    <input name="mass" placeholder="4.8675×1024 kg">
    </label>

    <label>
    Number of moons
    <input name="num_moons" placeholder="1" >
    </label>

    <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Create planet</button>
</form>