<h1>Secret Number</h1>

<form action="/secret_number/info">
  <label>
    pick a number between 1 and 10:
    <input type="search" placeholder= "7" name="number" required autofocus>
  </label>

  <button>GO!</button>
</form>
