<div class="container">
    <div class="link magic">
        <div class="background"><a href="/magic_8_ball">Magic 8 ball</a></div>
    </div>
    
    <div class="link secret_number">
        <div class="background"><a href="/secret_number">Secret Number</a></div>
    </div>
    <div class="link rock">
        <div class="background"><a href="/rock">Rock Paper Scissors</a></div>
    </div>
</div>


