<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Games</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="">Home</a>
      <a href="">View Games</a>
      <a href="">New Games</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
