<h2>Who love motorcycle</h2>
<h4>Riding A Motorcycle Makes You Cool</h4>
<span>
    Generally, we like to hide this fact. But, in many ways, it's at the heart of all other reasons: In some way or another motorcycling will make you cooler than everyone else. And deep in their hearts, everyone else will know it.
    No, it's not very cool to admit such a thing—indeed, part of coolness comes from respectfulness toward those who lack the good fortune of being you— but, that makes it no less true. You don't have to look like Beckham on a Bonneville to achieve this coolness. It happens naturally with all motorized two-wheeled conveyances. As my wife once told me: "When you see someone on a motorcycle, it doesn't matter what kind, you think: 'Oh, that person is on an adventure! I wonder where they're going.'"
    "You don't think that about someone in a car," she said. "You just think: 'That person is stuck in traffic.'"
</span>
<h4>You'll Find Your Zen</h4>
<span>
    Part of being cool as a motorcyclist comes when you stop worrying about "embarrassing" things like helmet hair or walking into restaurants wearing base layers; you don't get upset when it's hot or cold or raining or windy. Ride regularly (and intelligently) for long enough and you'll even be less enraged by other road users' negligence. Because you know centering your anger on one person or thing only results in lost awareness. On the road, the constant monitoring of your situation—speed, angle, body posture, road condition, lane position, possible hazards, etc.—serves as a meditation that clears your mind of the unnecessary. I have never once thought about the Kardashians while riding. On a bike you find mindfulness and inner peace, some of which will stay with you off the bike.
</span>
<h4>You Meet the Nicest People</h4>
<span>
Using terms like "brotherhood" or "sisterhood" in applying the connection between motorcyclists quickly sends one down the rabbit hole of self-aggrandizing BS. The idea of there being a special bond between the purchasers of a mass-produced item is silly. I am no more spiritually linked to other motorcyclists than I am other consumers of Kraft macaroni and cheese. And yet, and yet... there is something.
Depending on the country, you'll be greeted by waves or nods or extended feet when you pass other riders. Motorcycling induces a small town friendliness among its participants, no matter where they are in the world. Showing up somewhere on a bike means people will go out of their way to talk to you, to share stories. If you're open to this, you'll find yourself meeting people with whom you might otherwise never have had an opportunity to interact—people from outside your socioeconomic/religious/racial circles. And you will be better for it.
</span>