<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/motorcycle.css">
        <title>Motorcycle</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <a href="/">Home</a>
                <a href="/motorcycles">All Motorcycles</a>
                <a href="/motorcycles/new">New Motorcycle</a>
            </nav>
            <%= yield %>
        </div>
    </body>
</html>