<h2>New Motorcycle</h2>
<form action="/motorcycles" method="post">
    <label>
        Brand:
        <input type="text" name="brand" placeholder="Harley" required>
    </label>
    <label>
        Year:
        <input type="number" name="year" placeholder="2019" required>
    </label>
    <label>
        Color:
        <input type="text" name="color" placeholder="Black" required>
    </label>
    <label>
        Body:
        <input type="text" name="body" placeholder="Cruiser">
    </label>
    <label>
        Price:
        <input type="number" name="price" placeholder="1000">
    </label>
    <label>
        Description:
        
    </label>
    <label>
        <textarea name="description" cols="45" rows="3"></textarea>
    </label>
    <label>
        Image:
        <input type="url" name="image" class="input_image" placeholder="http://..">
    </label>
    <button>Create Motorcycle</button>
</form>