<div class="tupperware">
<h2>Who is your favourite author?</h2>

<form class="submission" action="/authors" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder ="JK Rowling">
  </label>

  <label>
    Nationality:
    <input type="text" name="author" placeholder="English">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://..">
  </label>

  <button>Add to collections</button>
  <!-- something went so wrong because of the auto set up of button. -->
</form>
</div>
