<div class="tupperware">
<h2>Edit <%= @author["title"] %></h2>

<form action="/authors/<%= @author["id"] %>" method="post">

  <label>
    Name:
    <input type="text" name="name" value="<%= @author["title"] %>">
  </label>

  <label>
    Nationality:
    <input type="text" name="nationality" value="<%= @author["author"] %>">
  </label>

  <label>
    Image:
    <input type="url" name="image" value="@author["image"]">
  </label>

  <button>Save</button>
  <!-- something went so wrong because of the auto set up of button. -->
</form>
</div>
