<div class="tupperware">
<h2>Share your favourite books!</h2>

<form class="submission" action="/books" method="post">
  <label>
    Title:
    <input type="text" name="title" placeholder ="Harry Potter">
  </label>

  <label>
    Author:
    <input type="text" name="author" placeholder="JK Rowling">
  </label>

  <label>
    Genre:
    <input type="text" name="genre" placeholder="contemporary fantacy">
  </label>

  <label>
    Summary:
    <input type="text" name="summary" placeholder="description">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://..">
  </label>

  <button>Add to collections</button>
  <!-- something went so wrong because of the auto set up of button. -->
</form>
</div>
