ul {
    padding-left: 0;
}

.menu {
    display: block;
    background: black;
    height: 60px;
    color: white;
}

#main-content {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 80%;
}

#social-media {
    display: inline-block;
    text-align: right;
}

nav ul {
    text-align: left;
}

nav ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 60px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    background: url(/Users/nilanarocha/Projects/sei33-homework/nilana_pereiraDaRocha/02-html+css/html-labs/busyhands/images/bg_body.jpg);
    background-repeat: repeat;
}

.default-margin {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.imageshadow {
    background: url(/Users/nilanarocha/Projects/sei33-homework/nilana_pereiraDaRocha/02-html+css/html-labs/busyhands/images/shadow_slider.png);
    height: 50px;
}

.photobanner {
    margin-bottom: -5px;
}

#blurb {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(201, 199, 199);
    background: url(/Users/nilanarocha/Projects/sei33-homework/nilana_pereiraDaRocha/02-html+css/html-labs/busyhands/images/bg_blurb.jpg);
    background-repeat: repeat-x;
}

#blurb p {
    display: inline-block;
    width: 600px;
}

.request-quote {
    display: inline-block;
    width: 300px;
}

.homebox {
    width: 280px;
    display: inline-block;
    margin-left: 53px;
}

.margin-left0 {
    margin-left: 0;
}

.homebox img {
    border: 3px solid #999999;
}

footer {
    background: black;
    height: 300px;
    color: white;
    padding: 30px;
    margin-top: 15px;
}

.footer-content {
    display: flex;
}

.blogroll {
    width: 230px;
}

.vertical-list {
    list-style-type: none;
}

.vertical-list li {
    display: block;
    height: 30px;
    font-size: 14px;
    border-top: 1px solid grey;
    line-height: 30px;
}

.vertical-list li a {
    text-decoration: none;
    color: white;
}

.textwidget {
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

.metawidget {
    width: 230px;
}