<h2>New Bike</h2>

<form action="/bikes" method="post">

  <label>
    Brand:
    <input name="brand" placeholder="Brand" required>
  </label>

  <label>
    Model:
    <input name="model" placeholder="Model">
  </label>

  <label>
    Year:
    <input name="year" placeholder="Year">
  </label>

  <label>
    Image URL:
    <input type="url" name="image" placeholder="Image URL">
  </label>

  <button>
    Create
  </button>


</form>
