<h2>Magic</h2>

<form action="/secret/result">
<select>
    <% (1..10).each do |n| %>
    <option value="<%= n %>" name="guess"> <%= n %> </option>
    <% end %>
</select>
<button>Make a guess</button>
</form>