<h2>Secret Number</h2>
<h2>Wrong answer! Please guess again</h2>


<form action="/secret/result">
<select name = "guess">
    <% (1..10).each do |n| %>
    <option value="<%= n %>"> <%= n %> </option>
    <% end %>
</select>
<button>Make a guess</button>
</form>