// Place all the styles related to the Icons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: sans-serif;
}

.pun {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: blue;
}

.dolla {
  color: blue;
}

.thumb {
  max-height: 6em;
}

nav {
  margin: 0, auto;
  text-align: right;
}

ul {
list-style-type: none;
margin-top: 5px
}

li {
  margin-top: 3px;
}
