<h2>Secret Number Game</h2>

<form action="/secret_number/result">
  <label>
    Guess random number between 1 and 10:
    <input type="number" name="number" required autofocus>
  </label>
  <button>Go!</button>

</form>
