<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>
    <input type="text" name="searchBook" id="searchBook">
    <button onclick="searchBook()" >Search Book</button>
    
    <script src="/js/main.js"></script>
</body>
</html>