<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search book Result</title>
</head>
<body>
    <h1>Search result: <%= title %></h1>
    <img src="<%= imagesource %>" alt="">
</body>
</html>