<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Select Search by</h1>
    <button onclick="openBook()">Search book</button>

    <button onclick="openStock()">Search Stock</button>
    
    <script src="/js/main.js"></script>
</body>
</html>