<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
</head>
<body>
    <input type="text" name="searchStock" id="searchStock">
    <button onclick="searchStock()" >Search Stock</button>
    
    <script src="/js/main.js"></script>
</body>
</html>