
<h1>Did you learn Javascript?</h1>

<!-- <button class="button1" type="" name="button1">Yes<a href="/test" class="btn1"></a></button> -->

<a href="/test">
    <button class="button1">Yes</button>
</a>


<a href="/test1">
    <button class="button2">No</button>
</a>
