<h1>Magic 8 ball</h1>

<form action="/magic8ball/result">
  <label>
  What is your question:
  <input name="question" required placeholder="....?" autofocus>
  </label>
  <button>"Asking the ball"</button>
</form>
