<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/books.css">
        <title>Book Search</title>
    </head>
    <body>
    <div class="container">
        <h1>Book Lookup</h1>

        <!-- The yield keyword will be replaced with whatever custom content from another file-->
        <%= yield %>
    </div>
    </body>
</html>