<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <form action="/" method="post">
        <label for="book_name">Enter name: </label>
        <input id="book_name" type="text" name="name_field" value="Jaws">
        <input type="submit" value="OK">
    </form>
    <div>
Here is a book <%= book%>
    </div>

  </body>
</html>
