<h2>New Ocean</h2>

<form action="<%= oceans_path %>" method="post">
  <label>
    Name:
    <input name="name" required autofocus>
  </label>
  <label>
    Image:
    <input type="url" name="image">
  </label>
  <label>
    Area:
    <input type="number" name="area">
  </label>
  <label>
    Volume:
    <input type="number" name="mass">
  </label>

  <button>Create ocean</button>
</form>
