<h2>Login</h2>
<div class="login-page panel">

  <form class="login" action="" method="post">
    <label for="inpemail">Email</label>
    <input type="email" id="inpemail" name="email" value="">

    <label for="inppassword">Password</label>
    <input type="password" id="inppassword" name="password" value="">

    <button  class="login" type="button" name="login">Login</button>
  </form>
</div>
