<h2>Sign up</h2>

<div class="signup-page panel">
  <form class="signup" action="" method="post">

    <label for="inpfullname">Name
    </label>
    <input type="text" id="inpfullname" name="fullname" value="">

    <label for="inpemail">Email</label>
    <input type="email" id="email" name="email" value="">

    <label for="inppassword">Password</label>
    <input type="password" id="inppassword" name="password" value="">

    <label for="inpconfirm-password">Confirm Password</label>
    <input type="password" id="inpconfirm-password" name="confirm-password" value="">

    <button class="register" type="button" name="submit">Register</button>
  </form>
</div>
