
<form action="/result"> <!--Sending info from form to result page -->
  <label>
    <input type="text" placeholder = "Steve Jobs" name="book_input" required>
  </label>

  <button>Get Book</button>
</form>
