<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books I</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
  <h1>Books Searching</h1>

  <!-- The yield keyword will be replace wiht whatever custom content from another file -->
  <%= yield %>

  </div>

</body>
</html>
