.game-board {
    margin: 0 auto ;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

/*  for some css stylings */
body {
  display: flex;
  justify-content: center;
}

.game-board div {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  border: 1px solid black;
}

img {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 0;
}