body {
font-family: 'ABeeZee', sans-serif;

}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: gray;
  padding: 2em;


}

nav {
  text-align: center;
  background-color: black;
  padding: 2em

}

nav a {
  color: white;
}

label {
  display: block;
}

.feature {
  max-width: 100%;
}

.logo {
  display: inline-block;
  text-align: center;
  height: 10em;
  background-color: 


}

img {
  max-width: 100%;
}
