<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Booklist</title>
  <link rel="stylesheet" href="/css/book1.css">
</head>
<body>
  <h1>Booklist</h1>

  <!-- The yield keyword will be replaced with whatever custom content from another file-->
  <%= yield %>

  <footer>
    
  </footer>

</body>
</html>
