<h2>New Cuisine</h2>

<form action="/cuisines" method="post">
  <label>
    Name:
    <input name="name" placeholder="Thai Cuisine" required>
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create cuisine</button>
</form>
