<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menus</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      |
      <a href="/menus">All menus</a>
      <a href="/menus/new">New menu</a>
      |
      <a href="/cuisines">All cuisines</a>
      <a href="/cuisines/new">New cuisines</a>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
