<h2>New Menu</h2>

<form action="/menus" method="post">
  <label>
    Name:
    <input name="name" placeholder="Pad Se Ew" required>
  </label>

  <label>
    Methods:
    <input name="methods" placeholder="Stir-frying" required>
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create menu</button>
</form>
