<a href="/secret-number/1">1</a>
<a href="/secret-number/2">2</a>
<a href="/secret-number/3">3</a>
<a href="/secret-number/4">4</a>
<a href="/secret-number/5">5</a>
<a href="/secret-number/6">6</a>
<a href="/secret-number/7">7</a>
<a href="/secret-number/8">8</a>
<a href="/secret-number/9">9</a>
<a href="/secret-number/10">10</a>
<% if @chosen_number > 0 %>
  <p><%= @win_or_lose %></p>
  <p>You choose "<%= @chosen_number %>", the correct number is "<%= @randon_number%>"</p>
  <a href="/secret-number">restart</a>
<% end %>
