<h2>New Team</h2>

<form action="/teams" method="post">

  <label>
    Name:
    <input name="name" placeholder="Team Name" required>
  </label>

  <label>
    Brand:
    <input name="brand" placeholder="Bike Brand" required>
  </label>

  <label>
    Country:
    <input name="country" placeholder="Country">
  </label>

  <label>
    Image:
    <input type="url" name="logo" placeholder="http://...">
  </label>

  <button>
    Create
  </button>


</form>
