<h2>New Footballer</h2>

<form action="/footballers" method="post">
  <label>
    Name:
    <input name="name" placeholder="Cristiano Ronaldo" required>
  </label>

  <label>
    Position:
    <input name="position" placeholder="Forward">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create footballer</button>
</form>
