<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Soccer Team Footballers</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      |
      <a href="/footballers">All footballers</a>
      <a href="/footballers/new">New footballer</a>
      |
      <a href="/teams">All teams</a>
      <a href="/teams/new">New team</a>
    </nav>
    <!-- ADD The HTML of the corresponding file -->
    <%= yield %>
  </div>

</body>
</html>
