<h4>Hmm...okay, lets look at the perks!</h4>
<p>What are the good and the bad? </p>

<form action="/determine3"></form>
<label>
  Pros of <%= @option1 %> :
  <input type="text" placeholder="pros1, pros2, pros3" name="option1pros">
</label>

<label>
  Cons of <%= @option1 %> :
  <input type="text" placeholder="cons1, cons2, cons3" name="option1cons">
</label>

<label>
  Pros of <%= @option2 %> :
  <input type="text" placeholder="pros1, pros2, pros3" name="option2pros">
</label>

<label>
  Cons of <%= @option2 %> :
  <input type="text" placeholder="cons1, cons2, cons3" name="option2cons">
</label>

<button>Compare the two!</button>

</form>
