<h4>Go with <%= @option2 %>!</h4>
<p>If the first option was soo good you wouldn't need a second!!</p>

<form action="determine2">
  <button>But they are both good!</button>
</form>

<form action="thanks">
  <button>Oh yeah..Thanks!</button>
</form>
