<h3>Can't decide!? Let me help you!</h3>

<form action="/determine1">

<label>
Question:
<input type="text" placeholder="What to eat?" name="question">
</label>

<label>
Category:
<input type="text" placeholder="Food" name="category">
</label>

<label>
Option 1:
<input type="text" placeholder="Burger" name="option1">
</label>

<label>
Option 2:
<input type="text" placeholder="Pizza" name="option2">
</label>

<button>Help me!</button>

</form>
