<h2>Pick a number from 0-10 </h2>
<form action="/pick/info">
  <label>
    Number:
    <input type="search" name="number" required placeholder="number" autofocus>
  </label>
  <button>Pick now!</button>
</form>
