<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Mini-Games</h1>
      <p>Look up a <a href="/magic">Magic 8 Ball</a></p>

      <p>Look up a <a href="/rock">Rock Paper Scissors</a></p>

      <p>Look up a <a href="/secret">Secret number</a></p>

  </body>
</html>
