<h1>Get A Shitty Answer To Your Shitty Question You Shit.</h1>

<form action="/magicballs/info">
  <label>
    Shitty question:
    <input type="search" placeholder= "I am a shit" name="question" required autofocus>
  </label>

  <button>Ask The Eight Ball</button>
</form>
