<div class="form_layout">
<h2>New Boardgame</h2>
<form action="/add_boardgame" method="post">

<label>
Name:
<input name="name" placeholder="Catan" required>
</label>

<label>
Minimum Player:
<input name="min_player" placeholder="1">
</label>

<label>
Maximum Players:
<input name="max_player" placeholder="4">
</label>

<label>
Publisher:
<input name="publisher" placeholder="KOSMOS">
</label>

<label>
Image:
<input type="url" name="image" placeholder="http://...">
</label>

<button>Add to collection</button>
</form>
</div>