<h1>Welcome To Board Game Collections</h1>

<form action="/search_result">
    <label>
    Search your favorite boardgame here
    <input type="text" placeholder="Monopoly" name="game_search" required>
    </label>

    <button> Search </button>
</form>