<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roll the Dice</title>
    <link rel= "stylesheet" href="/css/boardgame.css">
</head>
<body>
<div class="container">
    <nav>
    <a href="/">Home</a>
    <a href="/show_boardgame">All Games</a>
    <a href="/boardgame/new">Add Game</a>
    </nav>
    <%= yield%>
    </div>    
</body>
</html>