<form action="/secret_number/secret_answer" method="get">
    <div class="container background_layer">
        <label>
            Min:
            <input type="number" name="min_number">
        </label>
        <label>
            Max:
            <input type="number" name="max_number">
        </label>
        <label>
            Secret Number:
            <input type="number" name="secret_number">
        </label>
        <button>Check Answer</button>
    </div>
</form>