<h2>New Game</h2>

<form action="/games" method="post">
  <label>
    Title:
    <input name="title" placeholder="Halo" required>
  </label>

  <label>
    Genre:
    <input name="genre" placeholder="Action">
  </label>
    Platform:
    <input name="platform" placeholder="PC">
  <label>
    Price:
    <input name="price" value="100.00">
  </label>
  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create butterfly</button>
</form>
