<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/head.ejs %>

  <body>
    <% include partials/nav.ejs %>
    <p>
      <%= symbol %> last sold for $<%= price %>
    </p>
  </body>
</html>
