<h2>New Ocen</h2>
<form action="<%= oceans_path %>" method="post">
    <div class="divForm">
        <label>
            Name:
            <input type="text" name="name">
        </label>
        <label>
            Location:
            <input type="text" name="place">
        </label>
        <label>
            Area:
            <input type="number" name="area">
        </label>
        <label>
            Volume:
            <input type="number" name="volume">
        </label>
        <label>
            Average Depth:
            <input type="number" name="depth">
        </label>
        <label>
            Coastline:
            <input type="number" name="coastline">
        </label>
        <label>
            Image:
            <input type="url" name="image">
        </label>
        <button>Create Ocean</button>
    </div>
    
    
</form>