<h1>Secret Number</h1>

<form action="/secretnumber/result">
  <label>
  Please guess a number between 1 and 10:
  <input name="guess_number" required placeholder=" 1, 2, 3,..,10" autofocus>
  </label>
  <button>"Validates the guess"</button>
</form>
