body {
  background-color: #222;
  font-family: arial;
  color: #eee;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 400;
}

label {
  font-style: italic;
}

input {
  padding: 10px;
  display: block;
  margin: 10px auto;
}

button {
  padding: 10px;
  display: block;
  margin: 10px auto;
}

img {

}
