<form action="rock/result">
  <label>Play ROCK PAPER SCISSORS:</label>
  <select name="throw">
    <option>ROCK</option>
    <option>PAPER</option>
    <option>SCISSORS</option>
  </select>
  <button name="button">PLAY</button>
</form>
