<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/stylesheet.css"> <!-- how we link the css, no need to show the public folder it already knows-->
</head>
<body>

<div class="container">
  <nav>
    |
    <a href=""> Home </a>
    |
    <a href=""> Edit </a>
    |
    <a href=""> Ballsack </a>
    |
    <a href=""> Bigger Ballsack </a>
    |
  </nav>
  <%= yield %>
</div>

</body>
</html>
