<h2>Magic 8 Ball</h2>

<form action="/magic/result">

  <label>
    <h3>Ask Magic 8-Ball a Question</h3>
    <input type="text" name="magic" placeholder="Enter Question">
  </label>

  <button>
    Submit
  </button>

</form>
