<h1>Click the game you want to play !! </h1>
<div class="home">
  <a href="/magic8/I love CSS?">
  <img class="home" src="/assets/mb8.png" alt=""><br>
  </a>
  <a href="/secret_number/5">
  <img class="home" src="/assets/duckhunt.jpg" alt=""><br>
  </a>
  <a href="/rps/rock">
  <img class="home" src="/assets/rps.gif" alt=""><br>
  </a>
</div>
