<img class="sn" src="/assets/duckhunt.jpg" alt="">

<div class="center-align">

  <p>AI choose <b><%= @ai_nummber %></b></p>
  <p>User guessed <b><%= @user_number %></b></p>

  <h2>Lost</h2>

  <img class="result_image" src="/assets/lost.gif" alt="">


</div>
