<div class="center-align">

  <h2>Magic 8 Game</h2>

  <h3><%= @question %></h3>

<div class="container">

  <img class="magicball" src="/assets/mb8.png" alt="">
  <div class="centered"><%= @message %></div>

  </div>
</div>

</div>
