<img class="rps" src="/assets/rps.gif" alt="">
<p class = "player">AI Move:<%= @ai_move %></p>
<p class ="player">User Move:<%= @user_move %></p>
<p class = "player"><%= @result %></p>
<img class="result" src="/assets/<%= @winner_image %>.gif" alt="">
