<img class="sn" src="/assets/duckhunt.jpg" alt="">

<p class="snplayer">user Number:<%= @user_number %></p>
<p class= "snplayer">AI Number:<%= @ai_nummber %></p>
<img src="/assets/<%= @winner_img %>.gif">
