<h2>We would love for you to join us!</h2>
<p class="requiredText"><span class=requiredRed>*</span> Required</p>
<form action="/army" method="post">
  <label>
    First Name <span class=requiredRed>*</span>:
    <input type="text" placeholder="Harry" name="first_name" required>
  </label>

  <label>
    Last Name:
    <input type="text" placeholder="Potter" name="last_name">
  </label>

  <label>
    Patronus<span class=requiredRed>*</span>:
    <input type="text" placeholder="Stag" name="patronus" required>
  </label>

  <label>
    Let's see your patronus:
    <input type="text" placeholder="https://vignette.wikia.nocookie.net/harrypotter/images/..." name="image" required>
  </label>

  <button>I'm Ready!</button>

</form>
