<link href="https://fonts.googleapis.com/css?family=Fascinate|Open+Sans&display=swap" rel="stylesheet">

body {
  background-color: black;
  background-image: url("https://cdn.hipwallpaper.com/i/4/61/ATMqIK.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: 'Fascinate', cursive;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

nav {
  text-align: right;
}

nav a {
  color: white;
}

label {
  display: block;
}

.show {
  text-align: center;
  display: block;
}

.feature {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.control {
  color: hotpink;
  text-align: center;
}
