<form action="/magic/magic_answer" method="get">
    <div class="container background_layer">
        <label>
            Question:
            <input type="text" name="question">
        </label>
        <button>Answer</button>
    </div>
    
</form>