/**
 *  Common layout
 */
body {
  background-color: #e0e0e0;
  font-family: sans-serif;
  margin: 0px;
}

main {
  padding: 20px;
  padding-top: 90px;
}

input, button {
  font-size: 20px;
}

a {
  color: #24ab6c;
  text-decoration: none;
}

a:hover {
  color: black;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.panel {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #aaa;
}

header {
  background-color: white;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  width: 100%;
}

header div.header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  display: inline-block;
  margin: 0px;
  font-size: 25px;
  margin-left: 15px;
}

header h1 a {
  text-decoration: none;
  color: #888;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}

header img {
  width: 40px;
  height: 40px;
  float: left;
}

header nav {
  display: inline-block;
  margin-right: 15px;
}

nav a {
  margin-left: 10px;
}

/**
 * Main (Home) page
 */
form.search_book {
  text-align: center;
}

main div.books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main section.book {
  width: 180px;
  margin: 10px 10px;
  padding: 20px 5px 0px;
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
main section.book .title {
  text-transform: uppercase;
  font-size: 80%;
}
section.book a.favbook {
  color: gray;
}

/*
 * Sign up page
 */
form.signup {
  text-align: center;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  max-width: 500px;
  margin: 0 auto;
}


.signup div.field {
  margin: 15px;
  border: 1px solid red;
}

.signup  label {
  text-align: right;
}

button.register {
  grid-column: 2/3;
  max-width: 100px;
  box-shadow: 1px 1px #888888;

}
/*
*login page
*/

form.login {
  text-align: center;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  max-width: 500px;
  margin: 0 auto;
}
.login label {
  text-align: right;
}

button.login {
  grid-column: 2/3;
  max-width: 100px;
  box-shadow: 1px 1px #888888;

}

input {
  border:1px solid grey;
  box-shadow: 1px 1px #888888;

}
