<form action="/result">
  <label >
    Book title:
    <input type="text" placeholder="enter title here"name="title">
    <button type="button" name="submit">find the book!</button>
  </label>
</form>
