<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bucket list</title>
  <link rel="stylesheet" href="/css/places.css">
</head>
<body>
<div class="container">
  <nav>

<a href="/">Home</a>
<a href="/places">Explore</a>
<a href="/places/new">Add activity</a>

  </nav>
  <%= yield %>
</div>

</body>
</html>
