<h2>A new bucket list item</h2>

<form action="/places" method="post">
<label>
What activity?
<input name="name" placeholder="surfing">
</label>
<label>
Description:
<input name="description" placeholder="in Manly">
</label>

<label>
Image:
<input type="url" name="image" placeholder="http\\">
</label>
<button>Add a new item</button>
</form>
