<h2>Add a visited destination</h2>

<form action="/visits" method="post">
<label>
What activity?
<input name="name" placeholder="surfing">
</label>


<label>
Image:
<input type="url" name="image" placeholder="http\\">
</label>
<button>Add a visited item</button>
</form>
