<h2>Secret Number</h2>

<!-- <form action="/secnum/"> -->

  <label>
    <h3>Select a number between 1 and 10</h3>
    <input type="number" name="secnum" placeholder="Input Number">
  </label>

  <button>
    Submit
  </button>

<!-- </form> -->
