

<form method="post" action="/hated_things" class="form">

  <h3 id="logo">Add Something Joel Hates</h3>

  <label for="username">Something Joel Hates</label>
  <input type="text" id="username" name="thing" placeholder="Mark Zuckerberg" autocomplete="off" required />

  <label for="password">Why</label>
  <input type="text" id="password" name="why" placeholder="Envy" autocomplete="off" required />

  <label for="password">Image</label>
  <input type="text" id="password" name="image" placeholder="http://..." autocomplete="off" required />

  <input type="submit" name="submit" value="Add It!" />

</form>
